.rtable{
    &__avatar {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 1px solid #f6f6f6;
    }

}

// .rdt {

//     &_Pagination > span:first-of-type {
//         display: none;
//     }
//     &_Pagination > div:first-of-type {
//         display: none;
//     }

// }